.welcome {
    background-color: #F1602C;
    margin: auto;
}


.start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 60px;
    max-width: 100%;
    height: auto;
    background-color: #2563eb;
}

.welcome-sign {
    font-family: 'Lobster Two', cursive;
}

.header-hero {
    flex: 1;

}

.header-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}


.header-image img {
    position: relative;
    z-index: 1;
    width: 450px;
    height: auto;
    max-width: 100%;
    margin-left: auto;


}

fa-notdog fa-solid fa-palette {
    color: #0d1117;
}


.serve {
    margin: 20px 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.illustrations {
    color: #FAF4DC;
}

.creative {
    color: #FAF4DC;
}

.branding {
    color: #222;
}


.flip-card .bi {
    font-size: 4rem;
}


.header-hero h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: 'Lobster Two', cursive;

}

.header-hero p {
    max-width: 550px;
    line-height: 1.8;
    color: #444;
}

.header-hero h4 {
    padding: 0;
    font-size: 1rem;

    background: none;
}



.btn-shop {
    background-color: #F1602C;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}


.value {
    background: #FAF4DC;
    color: #F59AA4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;

}

.value-item {
    text-align: center;
}

.value-item i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #F59AA4;
}


.what-offer {
    font-family: 'Lobster Two', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #555;
}



.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}



.head-offer {
    text-align: center;
    margin-bottom: 30px;
}

.grow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 20px;
}
















/* Header*/
.nav-head {
    width: 150px;
    height: auto;
}

.navbar-expand-lg {
    background-color: #FAF4DC;
}

.nav-link {
    position: relative;
    color: #222;
    transition: color 0.3s ease;

}

.nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    left: 0;
    transition: width 0.3s ease;
    background-color: #F4CB1A;
    bottom: -6px;

}



.nav-link:hover {
    color: #222;

}

.nav-link:hover::after {
    width: 100%;
}




/* footer*/
.footer-logo {
    max-width: 120px;
    max-height: auto;
    object-fit: contain;

}

.leg {
    background-color: #FAF4DC;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.col {
    flex-basis: 25%;
    padding: 20px;

}



.quick-links {
    margin-top: 20px;
}

.quick-links li {
    list-style: none;
    margin-bottom: 10px;
}

.quick-links li a {
    text-decoration: none;
    color: black;
}













/* Shop products test display*/
.shopping {
    padding: 100px 9% 30px;
}




.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}


.product-box .img-box {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

.img-box img {
    width: 100%;
    transition: 0.5s;
    max-width: 250px;
}

.img-box:hover img {
    transform: scale(1.1);
}

.product-box .production {
    font-size: 20px;
    margin-top: 10px;
}

.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}



/*Home page designs*/
/* Design for flip cards */
.services-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
}


.flip-card-front {
    background: white;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.flip-card-back {
    background: #557BBD;
    color: white;
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card {
    width: 100%;
    height: 220px;
    max-width: 220px;
    margin: auto;
    border: 1px solid #ccc;
    background-color: transparent;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}



.service-cards.py-5 {

    text-align: center;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
}

/* what we offer*/
.cow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 20px
}

.offer-item .card {
    border: none;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.offer-item {
    width: 100%;
}

.card:hover {
    transition: transform 0.3s ease;
    transform: translateY(-10px);
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}


.card {
    border: none;
    text-align: center;
    padding: 20px;
}

.card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.header-logo {
    width: 120px;
    height: auto;
    object-fit: contain;
    position: relative;
    left: -80px;
}

.service-provision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-text {
    margin-top: 10px;
}

.text-typing {
    padding: 20px 30px;
    font-size: 35px;
    font-family: monospace;
    overflow: hidden;
    text-align: center;
    margin: 0 auto 30px auto;
}

.text-typing h2 {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(13, end)infinite, blink 0.8s infinite;
    display: inline-block;
    border-right: #222;
    width: 0;
}

@keyframes typing {
    0% {
        width: 0;
    }

    60% {
        width: 13ch;
    }

    100% {
        width: 0%;
    }
}



@keyframes blink {
    50% {
        border-color: transparent;
    }

}

.what-offer {
    text-align: center;
}



/* responsiveness */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-nav.ms-auto {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 768px) {
    .navbar-nav.ms-auto {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: hsl(0, 61%, 51%);
        padding: 10px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
    }
}

.btn.btn-primary {
    width: 100%;
    max-width: 200px;
    color: #fff;
}


/* products page */

.Product-Page {
    background-color: #F1602C;
    margin: auto;
}



.img-fluid {

    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.pro-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    background: #f8f9fa;
}


.pro-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pro-card h5 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.pro-card .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #0d1117;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


/* contact page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contact-body {
    background: linear-gradient(#ffdad5, #fff7f9);
}

.contact-us {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.contact-left-title h2 {
    font-weight: 600;
    color: #F1602C;
    font-size: 40px;
    margin-bottom: 10px;
}



.contact-left-title hr {
    width: 120px;
    height: 5px;
    border: none;
    background: #F4CB1A;
    border-radius: 10px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    color: #F59AA4;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}

.contact-inputs:focus {
    border: 2px solid #0d1117;

}

.contact-inputs::placeholder {
    color: #2563eb;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #555;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #555, #F1602C);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
}

@media(max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}




/* Cart Items*/
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    gap: 15px;
    align-items: center;

}

.cart-info img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #2563eb;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;

}

td a {
    color: #2563eb;
    font-size: 12px;
}


.total-price {
    display: flex;
    justify-content: flex-end;

}

.total-price table {
    border-top: 3px solid #ccc;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;


}

th:last-child {
    text-align: right;
}

.cart-info {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.cart-items {
    flex: 3;

}

.order-summary {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.cart-item {
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 50px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}

/* Login page decoration */

.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    width: 700px;
    background: #2563eb;
    padding: 80px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;

}

.sub-title {
    text-align: center;
    margin-bottom: 70px;
    color: #F4CB1A;
}

.mb-3 {
    margin-bottom: 40px;
}

.mb-3 label {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
}

.mb-3 input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #0d1117;
    background: transparent;
    padding: 15px 0;
    font-size: 18px;
    outline: none;
}

.pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass label {
    margin: 0;
}

.forgot-password {
    text-decoration: none;
    color: black;
}

.forgot-password {
    text-decoration: underline;
}

input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding: 15px 0;
    font-size: 18px;
    outline: none;
    margin-bottom: 40px;
    ;
}

.btn btn-success {
    width: 100%;
    padding: 20px;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

.btn:hover {
    opacity: 0.9;
}

.register-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.contained {
    width: 100%;
    min-height: 100vh;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo {
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery {
    flex-basis: 47%;
    transform: scale(1.08);
    background: #ccc;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);

}

.gallery img {
    width: 100%;
    display: block;
    padding-top: 100px;
}

.details {
    flex-basis: 53%;
    background: #ddd;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);

}

.details {
    color: #2563eb;
    font-size: 35px;

}

.details h2 {
    color: #557BBD;
    font-size: 30px;
    font-weight: 600;
}